@use '@/shared/styles' as *;

.root {
  @include flex-container(column);

  gap: var(--space-m);
  width: 100%;
  max-width: 400px;

  .field {
    width: 100%;
  }

  .error {
    margin-top: var(--space-s);
    font-size: var(--font-size-s);
    text-align: center;
    color: var(--color-danger);
  }

  .submitButton {
    margin-top: var(--space-s);
  }
}