@use '@/shared/styles' as *;

$header-icon-size: 56px;

.root {
  @include flex-center;

  min-height: 100vh;
  padding: var(--space-l);
}

.container {
  @include flex-container(column);

  gap: var(--space-xl);
  width: 380px;
  background: var(--color-auth-white);
  border-radius: var(--border-radius-l);
  box-shadow: 0 10px 40px rgb(0 0 0 / 10%);

  .header {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    width: 100%;
    padding: var(--space-l) var(--space-xl) var(--space-m) var(--space-xl);
    text-align: left;
    border-block-end: 1px solid var(--color-border-color);

    .title {
      font-size: var(--font-size-xl);
      font-weight: var(--font-weight-bold);
      color: var(--color-auth-text);
    }

    .subtitle {
      margin: 0;
      font-size: var(--font-size-s);
      line-height: 1.5;
      color: var(--color-auth-text-light);
    }
  }

  .form {
    width: 100%;
    padding-inline: var(--space-xl);
  }

  .footer {
    width: 100%;
    text-align: center;
    border-block-start: 1px solid var(--color-border-color);
    padding-block: var(--space-m);

    .toggleButton {
      margin: 0 auto;
      padding: var(--space-s) var(--space-m);
      font-size: var(--font-size-s);
      font-weight: var(--font-weight-l);
      color: var(--color-auth-primary);

      &:hover {
        color: var(--color-auth-primary-hover);
      }
    }
  }
}