* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overscroll-behavior: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  overscroll-behavior-y: none;
  -webkit-overflow-scrolling: touch;
}

body {
  overflow-x: hidden;
  font-family: var(--font-family);
  font-size: 16pt;
  color: var(--color-white);
  background: var(--color-background);
  scrollbar-width: none;
  -ms-overflow-style: none;
  overscroll-behavior: none;
  overscroll-behavior-y: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &.scroll-locked {
    overflow: hidden;
  }
}

input {
  font-family: var(--font-family);
  font-size: 15px;
  color: var(--color-background);

  &:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 64px;
}

::placeholder {
  color: var(--color-text);
  opacity: 1;
}

.flex-1 {
  flex: 1;
}

:input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--color-background);
}

::input-placeholder {
  /* Microsoft Edge */
  color: var(--color-background);
}

h1 {
  font-size: 64pt;
  font-weight: 800;
}

h2 {
  font-size: 40pt;
  font-weight: 700;
}

h3 {
  font-size: 18pt;
  font-weight: 600;
}

ul {
  list-style-type: none;
}

a {
  font-family: var(--font-family);
  text-decoration: none;
  color: var(--color-link);
}

.Toastify__toast {
  font-family: var(--font-family);
  font-size: 14px;
  color: var(--color-auth-text-light);
  background: var(--color-background);
  border-radius: var(--border-radius-s);
  padding-inline-end: 30px;
  padding-block: 18px;
}

.Toastify__close-button {
  top: calc(var(--space-s) + var(--space-xs));
  right: calc(var(--space-s) + var(--space-xs));
}

.Toastify__toast-icon {
  margin-inline-end: 18px;
}